/* .main-header nav ul{
    list-style: none;
} */

* {
    box-sizing: border-box;
}
.main-header{
    position: relative;
    background-color: white;
    height: 8vh;
}
.main-header div{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.main-header nav ul li{
    display: inline-block;
    padding: 15px 0;
    
}
.main-header nav ul a{
    text-decoration: none;
    color:#878787;
    border-right: 1px solid #878787;
    padding: 0 20px
}

.main{
    position: relative;
    height: 1350px;
    width: 100%;
  
}
.main-heading-text-logo{
    position: absolute;
    background-color: #878787;
    height: 50vh;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
 
   
}

.main-content-primary{
    position: absolute; 
    top: 30vh;
 padding: 0 100px;

width: 100%;

    z-index: 10;
}


.main-content{
    position: relative; 
background-color: white;
width: 100%;
/* background-color: rgb(155, 46, 46); */

border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.main-heading-text-logo-relative{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin: 50px 100px;
 
}


.main-heading-text-logo-relative .main-heading{
position: absolute;

width: 50%;

top: 0;
left: 0;
}

.main-heading-text-logo-relative .main-heading h1{
font-size: 64px;
font-weight: bolder;
color: rgb(0, 0, 0);
    }
    .main-heading-text-logo-relative .main-heading h5{
        font-size: 13px;
        color: rgb(0, 0, 0);
            }
.main-heading-text-logo-relative .main-logo{
    text-align: center;
    position: absolute;
top: 0;
right: 0;
    width: 50%;
    }


    .main-content nav  {
   text-align: center;

    }

   
    .main-content nav ul  {
        background-color: #333333;
        padding: 20px 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      
    }
.main-content nav ul li {
    display: inline-block;
  
} 

.main-content nav ul li a {
    text-decoration: none;
    padding: 0 20px;
    color:#f9ffff;
} 

.main-content .first-image {
   padding: 30px;
    text-align: center;

}

/* .main-content .heading2{
    background-color: #F0F0F0;
} */

.main-content .first-h2{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F0F0F0;
    display: inline-block;
    width: 70%;
}
.main-content .first-h2 h2{
    background-color: #fff;
    display: inline-block;
    padding: 0;
    width: 300px;
}

.main-content .second-h2{
    background-color: #F0F0F0;
    display: inline-block;
    width: 20%;  
}

.main-content .second-h2 h2{
    background-color: #fff;
    width: 150px;
    display: inline-block;
    padding: 0;
}
.main-logos{
    width: 65%;
    float: left;
}
.main-logos-second{
    width: 35%;
    float: left;

}
.sam{
    margin-top: 30px;
    width: 50%;
    height: 300px;
}

.image-logo-first{
    float: left;
    width: 50%;
}
.image-logo-second{
    float: left;
    width: 50%;
}

.image-logo-third{
    clear: both;
}

.image-logo-first div i{
    font-size: 32px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding:10px;
    
}

.image-logo-first div i:hover{
color: white;
background-color: blue;
    
}

.image-logo-fourth{
    width: 100%;
    clear: both;
    margin-top: 50px;
}

.image-logo-fourth a:nth-child(1){
 background-color: #F5C703;
 color: #B06A00;
 border-radius: 10px;
 padding: 10px;
 text-decoration: none;
 width: 40%;
 display: inline-block;
 text-align: center;
 font-size: 25px;
 text-transform: uppercase;
 margin-right: 20px;
} 

.image-logo-fourth a:nth-child(2){
    font-size: 25px;
    text-transform: uppercase;
    background-color: #8CBD2E;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    width: 40%;
    display: inline-block;
    text-align: center;
   } 

   footer{
       background-color: #878787;
       height: 10vh;
       clear: both;
       position: relative;
   }
   footer p:nth-child(1){
position: absolute;
top: 30px;
left: 100px;
color: white;
   }

   footer p:nth-child(2){
    position: absolute;
    top: 30px;
    right: 100px;
    color: white;
       }